<span id="cookies-exist" style="display: none;">You have enabled cookies on civilservice.lgbt. You can <a href="https://tools.google.com/dlpage/gaoptout">opt-out of Google Analytics</a>.</span>

<span id="cookies-none" style="display: none;">You have chosen not to enable measurement cookies on civilservice.lgbt.</span>

<noscript>
<p>We use Javascript to set most of our cookies. Unfortunately Javascript is not running on your browser, so you cannot change your settings. You can try:</p>

<ul>
<li>reloading the page</li>
<li>turning on Javascript in your browser</li>
</ul>
</noscript>

<script>
  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

      if(readCookie('cookie-policy')=='true') {
          document.getElementById("cookies-exist").style.display="inline";
      }
      else {
        document.getElementById("cookies-none").style.display="inline";
      }
</script>
